/* style reset */
* {
  margin:0; padding:0;
  -webkit-font-smoothing:antialiased;
  -webkit-user-select:none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html, body { width:100%; height:100%; }
body { position:relative; background:#E6E7E8; font-size:16px; color:#222; min-height:480px; font-family:Roboto,Droid Sans,HelveticaNeue-Light, Helvetica Neue Light,Droid Sans Fallback,Heiti SC,sans-self;  }
a { text-decoration: none; color:#000;}
ul { list-style:none; }
button:active, button:focus { background-image: none!important; outline: 0!important; box-shadow: none!important; }

.clearfix{ *zoom:1; }
.clearfix:after { clear: both; content: "."; display: block; height: 0; overflow: hidden; }

.main { position:relative; height:320px; overflow:hidden;

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5146be), color-stop(100%, #8639ac));

  /* ios上如果设置translateZ(-100px) ，那么main整个就显示不出来了。*/
  /*-webkit-transform: translateZ(-100px);*/
  -webkit-transform-style: preserve-3d;
}


@media (device-width:414px) and (-webkit-min-device-pixel-ratio:3.0) {/* 兼容iphone6 plus */
  .main { height:400px; }
}

.msg { position:absolute; z-index:3; height:75px; line-height:34px; width:100%; top:0; bottom:0; margin:auto; text-align:center; color:#fff;  }
.msg strong { font-size:50px; }

.download { 
    background:#fff; padding:10px 0 15px 0; text-align:center; border-bottom:1px solid #B2B2B2;
}
.btn { display:inline-block; padding:12px 23px; color:#fff; font-size:16px;border:none; border-radius:23px; background:#665FC1;  }
.tip { margin-top:10px; }
.u-btn { float:left; padding:12px 23px; border-radius:23px; color:#fff; text-align:center; border:none; font-size:16px; }
.u-btn-disabled { background:#c5e1f3!important; color:#ebf4fb!important; }

.leaf-wrapper { position:absolute; }
.leaf-wrapper .leaf { position:absolute; top:0; left:0; -webkit-transform:translate(-24px, -13px); width:24px; height:13px; background:url(leaf.png);background-size:24px 13px; }

.leafbg { position:absolute; width:248px; height:233px; left:17px;top:35px;background:url(bg.png); background-size:248px 233px; }
.leafbg2 { position:absolute; opacity:1; width:271px; height:26px; left:0; right:0; margin:0 auto; bottom:0; background:url(bg2.png) no-repeat; background-size:271px 26px; 
  /*-webkit-animation:"windleaf" 8s ease-in-out 0s infinite;*/
}

.chick, .body, .comb-wrapper, .head, .eye, .brow-left, .brow-right, .ball, .lip, .comb, .tears { position:absolute; }

.chick-wrapper { width:100%; height:100%; overflow:hidden; }

.chick {  bottom:-6px; left:50%; margin-left:-23px; width:60px; height:110px; 
  -webkit-animation:'hide' 8s ease-in-out 0s infinite;
}
@-webkit-keyframes hide {
  0% { }
  42% { bottom:-6px; }
  50% { bottom:-50px;}
  92% { bottom:-50px;}
  100% { bottom:-6px; }
}
.body {  top:32px; width:47px; height:93px; }
.comb-wrapper { width:45px; height:43px; top:0; left:15px; z-index:-1; 
  -webkit-animation:'floating' 3s ease-in-out 0s infinite alternate;
}

@-webkit-keyframes floating {
  0% {}
  50% { top:2px; -webkit-transform:rotate(-20deg); }
  100% { top:0; }
}
.comb { background:#f46016; }
.comb-1 { 
  top:-2px; left:-3px;
  width:32px; height:17px; border-radius:32px / 17px;
  -webkit-transform:rotate(-15deg);
}
.comb-2 {
  top:6px; left:-2px;
  width:30px; height:14px; border-radius:30px / 14px;
  -webkit-transform:rotate(8deg);
}
.comb-3 {
  top:17px; left:0;
  width:44px; height:11px;
  border-radius:44px / 11px;
  -webkit-transform:rotate(24deg);
}
.head {  width:30px; height:30px; top:-16px; left:9px; border-radius:16px; background:#ffde43; }
.neck:before { content:""; display:block; height:0; width:30px; 
    border-width:0px 9px 72px 9px;
    border-style:none solid solid; 
    border-color: transparent transparent #ffde43;  
}
.eye { width:20px; height:20px; top:-3px; border-radius:10px; background:#fff; overflow:hidden; 
  -webkit-transform:translateZ(0);
  -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
}

.eye-right { top:-4px; right:0px; }
.brow-left, .brow-right { width:27px; height:7px; overflow:hidden; }
.brow-left .circle, .brow-right .circle { width:27px; height:27px; border-radius:12px; background:#8c4409; }
.ball { width:6px; height:6px; border-radius:3px; background:#231815; }
@-webkit-keyframes blink-left {
  0% { }
  11% { opacity:1;}
  14% { opacity:0.1;}
  15% { opacity:1;}
  40% { left:10px; }
  41% { left:11px;  }
  90% { left:11px; }
  91% { left:10px; }
  100% {left:10px;}
}
@-webkit-keyframes blink-right {
  0% { }
  11% { opacity:1;}
  14% { opacity:0.1;}
  15% { opacity:1;}
  16% { left:4px; }
  30% { left:2px; }
  40% { left:4px; }
  41% { left:5px; }
  90% { left:5px; }
  91% { left:4px; }
  100% {left:4px;}
}

.eye-left .ball { left:10px; top:7px; 
  -webkit-animation:"blink-left" 1.5s linear 2s infinite;  
}
.eye-right .ball { left:4px; top:7px; 
  -webkit-animation:"blink-right" 1.5s linear 2s infinite; 
}
.brow-left { left:-6px; top:-4px; -webkit-transform: rotate(-20deg);
  -webkit-animation:"brow-left" 8s ease-in-out 0s infinite;
}
@-webkit-keyframes brow-left {
  0% { }
  42% {  -webkit-transform:rotate(-20deg); }
  50% {  -webkit-transform:rotate(-3deg); }
  92% { -webkit-transform:rotate(-3deg);}
  100% { -webkit-transform:rotate(-20deg); }
}
.brow-right { left:28px; top:-4px; -webkit-transform: rotate(34deg); 
  -webkit-animation:"brow-right" 8s ease-in-out 0s infinite;
}
@-webkit-keyframes brow-right {
  0% { }
  42% {  -webkit-transform:rotate(34deg); }
  50% {  -webkit-transform:rotate(14deg); }
  92% { -webkit-transform:rotate(14deg);}
  100% { -webkit-transform:rotate(34deg); }
}


.lip { width:0; height:0; }
.lip-upper {
   top:13px; left:14px;
   border-left: 10px solid transparent;
   border-right: 10px solid transparent;
   border-bottom: 9px solid #e0a232;
}
.lip-lower {
  top:24px; left:19px; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 4px solid #b27a0b;
  -webkit-animation:'talk' 8s ease-in-out 0s infinite;
}
@-webkit-keyframes talk {
  0% { }
  10% { top:22px; }
  20% { top:24px; }
  30% { top:22px; }
  42% { top:24px; }
  50% { top:22px; }
  92% { top:22px; }
  100% { top:24px; }
}

.tears { width:16px; height:5px; opacity:0.8;
  -webkit-animation:'cry' 8s ease-in-out 0s infinite;
}
@-webkit-keyframes cry {
  0% { }
  42% { opacity:0.8; }
  50% { opacity:0.1; }
  92% { opacity:0.1; }
  100% { opacity:0.8; }
}

.tears-left { 
  top:14px; left:0px;
  -webkit-transform:rotate(12deg); 
}
.tears-right {
  top:16px; left:4px;
  -webkit-transform:rotate(-12deg); 
}
.tear { position:absolute; bottom:0; background:#32b7b7;}
.tear-1 {  width:6px; height:3px; border-radius:6px / 3px; }
.tear-2 { left:5px; bottom:-6px; width:8px; height:10px; border-radius:8px/10px; }
.tear-3 { left:11px; bottom:-1px; width:4px; height:4px; border-radius:2px;}
.tears-right .tear-1 { bottom:1px; }
.tears-right .tear-2 { left:4px; bottom:-5px;}
.tears-right .tear-3 { bottom:1px; }

/* bottom copyright */
.copyright { position:absolute; bottom:16px; left:0; right:0; color:#B3B4B5; text-align:center; font-size:12px;  }


/* download dialog */
.m-download-dialog .download, .m-download-dialog .call { background-color:#4ca2d9; margin-right:15px; }
.m-download-dialog .cancel { background-color:#e6e7e8; color:#000; }
.m-download-dialog { opacity:0; height:0; padding:0; position:absolute; z-index:999; padding:0px; width:200px; top:140px; left:0; right:0; border-radius:10px; margin:auto; background-color:#fff; overflow:hidden;
    -webkit-transition:transform .3s;
    -webkit-transform:scale(1.1);
    transition:transform .1s;
    transform:scale(1.1);
}
.m-download-dialog.show { height:auto; padding:25px; opacity:1!important;
    -webkit-transform:scale(1) translateZ(1000px);
    -webkit-transform-style: preserve-3d;
    transform:scale(1) translateZ(1000px);
    transform-style:preserve-3d;
}
.m-download-dialog p { font-size:16px; text-align:center; line-height:21px; letter-spacing: 1px; }
.m-download-dialog .confirm-wrapper { display:none; margin-top:15px; padding-left:16px; }
.m-download-dialog .ignore-wrapper { display:none; margin-top:15px; padding-left:5px; }
.m-download-dialog .txt-ignore { display:none; }

.mask { 
    display:none; position:fixed; width:100%; height:100%; top:0; left:0; z-index:200; background-color:#000; opacity:0; 
    /*-webkit-transform: translateZ(-1000px);*/
    /*-webkit-transform-style: preserve-3d;*/
}

.animated {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes flipInY {
  0% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
            transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    -webkit-transition-timing-function: ease-in;
            transition-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
            transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    -webkit-transition-timing-function: ease-in;
            transition-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
            transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
            transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
  }

  100% {
    -webkit-transform: perspective(400px);
            transform: perspective(400px);
  }
}


@keyframes flipInY {
  0% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
            transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    -webkit-transition-timing-function: ease-in;
            transition-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
            transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    -webkit-transition-timing-function: ease-in;
            transition-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
            transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
            transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
  }

  100% {
    -webkit-transform: perspective(400px);
            transform: perspective(400px);
  }
}

.flipInY {
  -webkit-backface-visibility: visible !important;
          backface-visibility: visible !important;
  -webkit-animation-name: flipInY;
          animation-name: flipInY;
}


/* This CSS rule is applied to all div elements in the leafContainer div.
   It styles and animates each leafDiv.
*/
#leafContainer > div 
{
    position: absolute;
    width: 24px;
    height: 13px;
    z-index:999;
    
    /* We use the following properties to apply the fade and drop animations to each leaf.
       Each of these properties takes two values. These values respectively match a setting
       for fade and drop.
    */
    -webkit-animation-iteration-count: infinite, infinite;
    -webkit-animation-direction: normal, normal;
    -webkit-animation-timing-function: linear, ease-in;
}

/* This CSS rule is applied to all img elements directly inside div elements which are
   directly inside the leafContainer div. In other words, it matches the 'img' elements
   inside the leafDivs which are created in the createALeaf() function.
*/
#leafContainer > div > img {
     position: absolute;
     width: 24px;
     height: 13px;

    /* We use the following properties to adjust the clockwiseSpin or counterclockwiseSpinAndFlip
       animations on each leaf.
       The createALeaf function in the Leaves.js file determines whether a leaf has the 
       clockwiseSpin or counterclockwiseSpinAndFlip animation.
    */
     -webkit-animation-iteration-count: infinite;
     -webkit-animation-direction: alternate;
     -webkit-animation-timing-function: ease-out;
     -webkit-transform-origin: 50% -100%;
}


/* Hides a leaf towards the very end of the animation */
@-webkit-keyframes fade
{
    /* Show a leaf while into or below 95 percent of the animation and hide it, otherwise */
    0%   { opacity: 1; }
    95%  { opacity: 1; }
    100% { opacity: 0; }
}


/* Makes a leaf fall from -300 to 600 pixels in the y-axis */
@-webkit-keyframes drop
{
    /* Move a leaf to -300 pixels in the y-axis at the start of the animation */
    0%   { -webkit-transform: translate(0px, -20px); }
    /* Move a leaf to 600 pixels in the y-axis at the end of the animation */
    100% { -webkit-transform: translate(0px, 450px); }
}

/* Rotates a leaf from -50 to 50 degrees in 2D space */
@-webkit-keyframes clockwiseSpin
{
    /* Rotate a leaf by -50 degrees in 2D space at the start of the animation */
    0%   { -webkit-transform:translateX(0) rotate(-50deg); }
    /*  Rotate a leaf by 50 degrees in 2D space at the end of the animation */
    100% { -webkit-transform: translateX(-100px) rotate(50deg); }
}


/* Flips a leaf and rotates it from 50 to -50 degrees in 2D space */
@-webkit-keyframes counterclockwiseSpinAndFlip 
{
    /* Flip a leaf and rotate it by 50 degrees in 2D space at the start of the animation */
    0%   { -webkit-transform: scale(-1, 1) rotate(50deg); }
    /* Flip a leaf and rotate it by -50 degrees in 2D space at the end of the animation */
    100% { -webkit-transform: scale(-1, 1) rotate(-50deg); }
}
